{% extends 'base.html' %}

{% block title %}Change Password - Safe Driver Program{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-one-third">
    <div class="box">
      <h1 class="title has-text-centered">Change Password</h1>
      <p class="subtitle has-text-centered">Update your account password</p>
      
      <form method="post">
        {% csrf_token %}
        
        <div class="field">
          <label class="label">Current Password</label>
          <div class="control has-icons-left">
            <input class="input" type="password" name="current_password" placeholder="Enter current password" required>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        
        <div class="field">
          <label class="label">New Password</label>
          <div class="control has-icons-left">
            <input class="input" type="password" name="new_password" placeholder="Enter new password" required>
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
          </div>
          <p class="help">Password must be at least 6 characters long</p>
        </div>
        
        <div class="field">
          <label class="label">Confirm New Password</label>
          <div class="control has-icons-left">
            <input class="input" type="password" name="confirm_password" placeholder="Confirm new password" required>
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
          </div>
        </div>
        
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary" type="submit">
              <span class="icon">
                <i class="fas fa-save"></i>
              </span>
              <span>Change Password</span>
            </button>
          </div>
          <div class="control">
            <a class="button is-light" href="{% url 'account_page' %}">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}