{% extends 'base.html' %}

{% block title %}Organization Page{% endblock %}

{% block content %}
<div class="hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Our Partner Organizations
      </h1>
      <h2 class="subtitle">
        Collaborating for Safer Roads
      </h2>
      <h2 class="subtitle">
        Our organization partners are dedicated to promoting safe driving practices and supporting responsible drivers in their communities. Together, we work to create a safer driving environment for everyone.
        We define safe driving as adhering to traffic laws, avoiding distractions, and maintaining a clean driving record.
        This includes obeying speed limits, not using mobile devices while driving, and avoiding driving under the influence of alcohol or drugs.
        Drivers that consistently adhere to these parameters are eligible to receive points, and redeem those points for rewards.
      </h2>
      <h2 class="subtitle">The Current Value Assigned to a Point: $0.01.</h2>
    </div>
  </div>
</div>
{% endblock %}